@tailwind base;
@tailwind components;
@tailwind utilities;

.my-test-class {
    color: red;
}

.email-body {
    margin: 0;
    padding: 0;
}

.email-body-content {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.email-body-content * {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.5 !important;
}

.email-body-content p {
    margin: 0 !important;
}

.whitespace-pre-wrap {
    white-space: pre-wrap;
    margin: 0;
    padding: 0;
}

.email-body * {
    margin: 0;
    padding: 0;
}